<!DOCTYPE html>
<html>
    <head>
        <Title>Jason Rash Final Project</Title>
    </head>
    <body>
        <h1 style="text-align:center;">Jason Rash Final Project CS 493</h1>
        <h1 style="text-align:center;">This web app is a homework assignment for implementing OAuth2.0. with JWT</h1>
        <h2 style="text-align:center;">Please Click Submit to Continue.</h2>
        <form method="POST" action="/">
            <div style="text-align:center;">
                <button style="width: 100px; height: 50px"type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>