<!DOCTYPE html>
<html>
    <head>
        <Title>User Profile</Title>
    </head>
    <body>
        <h1 style="text-align:center;">The information recieved back from OAuth2.0 was...</h1>
        <h2 style="text-align:center;">First Name: <%=firstName%></h2>
        <h2 style="text-align:center;">Last Name: <%=lastName%></h2>
        <h2 style="text-align:center;">JWT: <%=jwt%></h2>
        <h2 style="text-align: center;">User ID: <%=userid%></h2>
    </body>
</html>